<!DOCTYPE html>
<!-- xmlns : IntelliJ에서 thymeleaf 문법 시 에러 발생을 방지하기 위한 태그 -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <div th:insert="/thymeleaf/common/header.html" id="header"></div>

    <a th:href="@{/write}">작성</a>

    <table>
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:insert="/thymeleaf/common/footer.html" id="footer"></div>
</body>
</html>